* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #fff;
  	color: #fff;
  	font-family: Helvetica, arial, sans-serif;
  	font-size:100%;
  	margin: 0;
}
h2 span {
	background-color: rgba(253,172,42,0.79);

}

h1 span{
	color: #FDAC2A;

}

.about {
	padding: 4em 0;
	background: url(../images/about.png) no-repeat right 33.33%;
	margin:2em;
}
.about h3{
	font-family: Georgia, times, serif;
	font-size: 1.2em;
	color: #545454;
	line-height: 2em;
	letter-spacing: 0.05em;
	font-weight: 300;
	width:50%;
	display: inline-block;
	float:left;
	margin: 5em 0 5em 8em;
	
}

.abouttwo {
	padding: 4em 0;
	background: url(../images/abouttwo.png) no-repeat left 33.33%;
	margin:2em;
}

.abouttwo h3{
	font-family: Georgia, times, serif;
	font-size: 1.2em;
	color: #545454;
	line-height: 2em;
	letter-spacing: 0.05em;
	font-weight: 300;
	width:54%;
	display: inline-block;
	float: right;
	margin: 5em 5em 5em 0;

}

#expertise-hero {
	clear:both;
}

#expertise-hero h2{
	font-family: Lato;
	font-weight: 600;
	font-size: 3em;
	color: #FDAC2A;
	padding-left: 2em;
	padding-top: 2em;

}

#expertise-hero ul{
	font-family: Lato;
	font-weight: 450;
	font-size: 1.5em;
	color: #FFFFFF;
	padding-left: 6em;
	padding-top: 2em;

}

#expertise-hero li{
	padding: 0.5em;

}

#expertise-hero h3{
	display: inline-block;
	font-family: Georgia;
	font-size: 1.5em;
	float:left;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	margin: 6% 0.25% 0% 0.25%;
	padding: 1.2em;
	font-weight:300;
	background-color: rgba(253,172,42,0.85);
	width:24.5%;
	text-align: center;

}

#expertise-hero h3 span{
	font-size: 3rem;
	text-align: center;

}

#contact-hero h3{
	text-align: center;
	padding-top: 6em;
	text-decoration: underline;

}

#contact-hero h3 a{
	text-align: center;
	text-decoration: none;
	font-family: Lato;
	font-weight: 600;
	font-size: 4em;
	color: #FFFFFF;
	margin-top: 6em;

}

#contact-hero h3 a:hover{
	color: #FDAC2A;

}
#navbar h2{
	display: inline-block;
	text-decoration: none;
	font-family: Lato-Regular;
	font-size: 1.3em;
	color: #fff;
	padding-right: 5em;
	font-weight: 300;
	padding-top: 1.5em;
}
#navbar h2:hover{
	color: #FDAC2A;
	display: inline-block;
	font-family: Lato-Regular;
	font-size: 1.3em;
	padding-right: 5em;
	font-weight: 300;
	padding-top: 1.5em;

}

#contact-link h2{
	padding-right: 2em;
}

#contact-link h2:hover{
	padding-right: 2em;
}

#navbar a{
	float:right;
	display:inline;

}

#navbar img{
	width:18em;
	padding-left: 5em;
	padding-top: 1.5em;
	float: left;

}
#main-heading {
	font-family: Lato-Regular;
	font-size: 4em;
	color: #FFFFFF;
	line-height: 1em;
	padding-left: 2em;
	padding-top: 3em;
}

#arrow {
	font-family: Lato-Regular;
	font-size: 2em;
	color: #FFFFFF;
	line-height: 1em;
	padding-top: 2em;
	margin:0 auto;
	width:5%;
}

#about-link{ 
	padding-right: 5em
}

#text-orange {
	font-family: Georgia;
	font-size: 1.5em;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	margin-left: 5em;
	margin-right: 14em;
	margin-top: 2em;
	padding: 1em;
	font-weight:300;
	background-color: rgba(253,172,42,0.85);
	
}

#lion-hero {
	background: url(../images/hero.jpg) no-repeat center center;
	width:100%;
	background-size: cover;
	height: 100vh;

}
#expertise-hero {
	background: url(../images/hero2.jpg) no-repeat center center;
	width:100%;
	background-size: cover;
}
#contact-hero {
	background: url(../images/hero3.jpg) no-repeat center center;
	width:100%;
	background-size: cover;
	height: 60vh;

}

.herotwo {
	background: url(../images/hero2.jpg) no-repeat center center;
	background-size: cover;
	height: 70vh;

}
.clearfix:after, main>section:after {
	content:".";
	visibility:hidden;
	clear:both;
	display:block;
	height:0;
}
@media only screen and (max-width:1100px) {
	.abouttwo {
	background: #fff;
}
	.abouttwo h3{
	width:100%;
	display: inline-block;
	float: none;
	margin:0;
}
	.about {
	background: #fff;
}
	.about h3{
	width:100%;
	display: inline-block;
	float: none;
	margin:0;
}
	#expertise-hero h3 {
	    width: 49%;
	    margin: 0.5% 0.25% 0% 0.25%;

}	
}

@media only screen and (max-width:530px) {
	#expertise-hero h3 {
	    width: 100%;
	    margin: 0.5% 0 0 0;

}	

}
